.root {
	left: -120px;
	position: relative;
}
.input {
	border: 1px solid gray;
	padding: 12px 20px;
	width: 300px;
	border-radius: 10px;
	font-size: 16px;
	padding-left: 45px;
	transition: all 0.15s ease-in-out;
	&:focus {
		border: 1px solid rgba(0,0,0,0.2);
		width: 400px;
	}
}

.icon {
	position: absolute;
width: 22px;
height: 22px;
opacity: 0.5;
left:12px;
top:12px;
}

.delete{
	position:absolute;
	width: 25px;
	height: 25px;
	opacity: 0.3;
	right: 10px;
	top: 10px;
	cursor: pointer;
&:hover {
	opacity: 0.8;
}
}